@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Kalnia', serif;
  }

  .container {
    display: flex;
  }

  .section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }